*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#000000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.loader{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, transparent,
    transparent 40% ,#59b69f);
    animation: animate 2s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }

}

.loader:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #000000;
    border-radius: 50%;
    z-index: 1000;

}

.loader:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:linear-gradient(45deg, transparent,
    transparent 40% ,#59b69f) ;
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(15px);
}